<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
    <title>${title}</title>
  </head>
  <body>
    <h1>${title}</h1>
    <form method="POST">
      <label>
        Username:
        <input name="username" type="text" autofocus />
      </label>
      <label>
        Password:
        <input name="password" type="password" />
      </label>
      <input type="submit" value="do it!" />
    </form>
  </body>
</html>
