<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
    <title>Member</title>
</head>
<body>
    <h1>Hello ${username}!</h1>
    <p>What do you want to do?</p>
    <br>
    <a href="/note/create"><button>Create a new note</button></a>
    <br>
    <a href="/note"><button>Look at notes</button></a>
    <br>
    <a href="/logout"><button>Logout</button></a>
    <br>
    <a href="/search"><button>Search</button></a>
</body>
</html>