<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note</title>
</head>
<body>
    <div>
        <div>
            <h1>Create a new note!</h1>
        </div>
        <div>
            <form method="POST">
                <label>
                    Title:
                    <input name="title" type="text">
                </label>
                <br>
                <label>
                    Note:
                    <input name="content" type="text">
                </label>
                <br>
                <input type="submit" value="Submit that ish!">
            </form>
        </div>
    </div>
</body>
</html>