<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
    <title>Note Search List</title>
</head>
<body>
    <div>
        <h1>Notes</h1>
    </div>
    <div>
        <ul>
            ${note.map(n=>{
                return `<li><a href='/note/${n.title}'>${n.title}</a><br>${n.content}</li>`
            }).join('')}
        </ul>
    </div>
    <br>
    <div>
        <a href="/members-only"><button>Home</button></a>
        <a href="/note/create"><button>Create a new note</button></a>
        <a href="/search"><button>Search</button></a>
        <a href="/note"><button>Notes</button></a>
    </div>
</body>
</html>